@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffe6f2;
  color: #333;
  margin: 0 auto;
}

/* Основной контейнер */
.container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
}

/* Услуги и сервисы  */
.service {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
  width: 40%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Сайдбар с правой стороны */
.sidebar {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Лента новостей */
.newsLink {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}
.newsLink:hover {
  color: #ff99cb;
}

li {
  padding-bottom: 15px;
}

.newsInfo {
  padding-top: 2px;
  font-size: 12px;
  color: #968e8e;
}

.newsList_header, .exchange-rates__title {
  font-size: 24px;
  font-weight: 800;
  padding: 7px 0 7px 5px;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
}

/* Курсы валют */
.exchange-rates {
  margin-bottom: 10px;
}
.exchange-rates__wrapper {
  display: grid;
  grid-template-rows: repeat 4, 20px;
  grid-template-columns: repeat 3, 1fr;
  align-items: start;
}
.exchange-rates__title_name {
  grid-row: 1/2;
  grid-column: 1/2;
  color: white;
  background-color: #ff1c8c;
  padding-left: 5px;
}
.exchange-rates__title_value {
  grid-row: 1/2;
  grid-column: 2/3;
  color: white;
  background-color: #ff1c8c;
}
.exchange-rates__title_trend {
  grid-row: 1/2;
  grid-column: 3/4;
  color: white;
  background-color: #ff1c8c;
}
.exchange-rates__item1_name {
  grid-row: 2/3;
  grid-column: 1/2;
  border-bottom: 2px solid #968e8e;
  padding-left: 5px;
}
.exchange-rates__item1_value {
  grid-row: 2/3;
  grid-column: 2/3;
  border-bottom: 2px solid #968e8e;
}
.exchange-rates__item1_trend {
  grid-row: 2/3;
  grid-column: 3/4;
  color: green;
  border-bottom: 2px solid #968e8e;
}
.exchange-rates__item2_name {
  grid-row: 3/4;
  grid-column: 1/2;
  border-bottom: 2px solid #968e8e;
  padding-left: 5px;
}
.exchange-rates__item2_value {
  grid-row: 3/4;
  grid-column: 2/3;
  border-bottom: 2px solid #968e8e;
}
.exchange-rates__item2_trend {
  grid-row: 3/4;
  grid-column: 3/4;
  color: green;
  border-bottom: 2px solid #968e8e;
}
.exchange-rates__item3_name {
  grid-row: 4/5;
  grid-column: 1/2;
  border-bottom: 2px solid #968e8e;
  padding-left: 5px;
}
.exchange-rates__item3_value {
  grid-row: 4/5;
  grid-column: 2/3;
  border-bottom: 2px solid #968e8e;
}
.exchange-rates__item3_trend {
  grid-row: 4/5;
  grid-column: 3/4;
  color: green;
  border-bottom: 2px solid #968e8e;
}
.exchange-rates__error {
  color: red;
}
.exchange-rates__date {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 12px;
}