@import 'colors'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: Arial, sans-serif
    background-color: $background-color
    color: $font-color
    margin: 0 auto

/* Основной контейнер */
.container
    display: flex
    margin: 0 auto
    padding: 0 20px
    gap: 20px

/* Услуги и сервисы  */
.service
    display: flex
    align-items: center
    margin-bottom: 40px
    background-color: white
    border-radius: 10px
    overflow: hidden
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

.service img
    width: 40%
    height: auto
    object-fit: cover

/* Сайдбар с правой стороны */
.sidebar
    width: 400px
    background-color: white
    padding: 20px
    border-radius: 10px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

/* Лента новостей */
.newsLink
    text-decoration: none
    font-size: 14px
    color: $font-color
    &:hover
        color: $accent-color1

li
    padding-bottom: 15px

.newsInfo
    padding-top: 2px
    font-size: 12px
    color: $additional-color

.newsList_header
    font-size: 24px
    font-weight: 800
    padding: 7px 0 7px 5px

ul
    padding-left: 10px
    padding-right: 10px
